@import "bootstrap/scss/bootstrap";

.header {
    color: grey;
    text-align: center;
    margin: auto;
    padding: 16px;
    width: 100%;
    height: 10%;
}

img {
   background-image: url("https://i.jeuxactus.com/datas/divers/d/i/divers-jeux-video/xl/divers-jeux-video-artwor-5ec3efe21e0d1.jpg");
}

h1 {
    color: --bs-primary;
}
