@import "bootstrap/scss/bootstrap";

.header {
  text-align: center;
  padding: 20px;
  width: 100%;
}

.header h1 {
  color: var(--bs-secondary); // correction ici
  margin-bottom: 20px;
}

.header-img {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}
