.footer {
  background: linear-gradient(45deg, rgb(156,14,156), #191970);
  padding: 50px;
}

.footer nav {
  display: flex;
  justify-content: center;
  gap: 40px; // espace entre les liens
}

.footer a {
  color: white;
  text-decoration: none;
}
