.homePage {
  width: 80em;
  margin: 20px auto;
  min-height: 100vh;
  background-color: white;

  display: flex;
  flex-direction: column;
  justify-content: space-between; // mieux pour Header / Games / Footer
}
